/* WHOLE PAGE */
#date-data {
  min-width: 100%;
}

li {
  padding: 4px 8px 4px 0px;
}
/* ****************************************** */

/* DATE HEADING */
.date-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spinner {
  font-size: 3rem;
  text-shadow: 1px -2px 4px grey;
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-duration: 3s;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 grey;
  }
  25% {
    text-shadow: 1px 0 grey, 2px 0 grey, 3px 0 grey, 4px 0 grey, 5px 0 grey;
  }
  50% {
    text-shadow: 0 0 grey;
  }
  75% {
    text-shadow: -1px 0 grey, -2px 0 grey, -3px 0 grey, -4px 0 grey, -5px 0 grey;
  }
  100% {
    text-shadow: 0 0 grey;
  }
}
/* CONTAINER DIV */
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  /* border: 1px solid green; */
}

/* EVENTS DIV */
.events {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 2px solid #FFA689;
  border-radius: 4px;
  box-shadow: 4px -3px 8px #FF6961;
  height: 85%;
  overflow-y: scroll;
  width: 40%;
  background-color: #A67B5B;
}

.events-h3 {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 1rem;
}

/* BIRTHS DIV */
.births {
  border: 2px solid #FFA689;
  border-radius: 4px;
  box-shadow: 4px -3px 8px #FF6961;
  height: 85%;
  overflow-y: scroll;
  width: 40%;
  background-color: #A67B5B;
}

.births-h3 {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 1rem;
}

#years {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10%;
}

.year-info {
  border: 2px solid #FFA689;
  border-radius: 4px;
  box-shadow: 4px -3px 8px #FF6961;
  font-size: 28px;
  background-color: #A67B5B;
}

/* MEDIA QUERIES */

/* Small Devices (Mobile, Portrait, less than 576px) */
@media (max-width: 575.98px) {
  .events-h3 {
    font-size: 1rem;
    margin-bottom: -0.2rem;
  }

  .births-h3 {
    font-size: 1rem;
  }

  .list {
    font-size: 0.6rem;
  }
}

/* ************************************************* */

/* Small devices (Mobile, Landscape, less than 768px) */
@media (max-width: 767.98px) {
  .events-h3 {
    font-size: 1.2rem;
    margin-bottom: -0.2rem;
  }

  .births-h3 {
    font-size: 1.2rem;
  }

  .list {
    font-size: 0.7rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* CONTAINER DIV */
  .info {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  /* EVENTS DIV */
  .events {
    width: 90%;
    margin-bottom: 1rem;
  }

  .events-h3 {
    font-size: 1.5rem;
    margin-bottom: -0.2rem;
  }

  /* BIRTHS DIV */
  .births {
    width: 90%;
  }

  .births-h3 {
    font-size: 1.5rem;
  }

  /* List Items */
  .list {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
}

/* Large devices (laptops, less than 1440px) */
@media (max-width: 1439.98px) {
}

/* Extra large devices (desktops, less than 1920px) */
@media (max-width: 1919.98px) {
}
