#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#pennies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.history-title {
    font-size: 4rem;
}

.history-text {
}

.penny-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 60%;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 4px solid black;
    background-color: #e6ded5;
    border-radius: 8px;
  box-shadow:  10px -10px 10px rgb(96, 89, 89)
}

.penny-img {
    height: 20%;
    width: 60%;
    border: 8px solid black;
    border-radius: 8px;
  box-shadow:  10px -10px 10px rgb(96, 89, 89)
}
