.history-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-penny {
    height: 240px;
    width: 475px;
}

.history-memorial {
    height: 280px;
}