#order-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.order-div {
  border: 4px solid black;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 45rem; */
  width: 25%;
  margin-bottom: 1rem;
  background-color: #A67B5B;
}

.order-form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  background-color: #A67B5B;
}

.order-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* .penny-pic-order {
  height: 10%;
  width: 15%;
  padding: 1.5rem 0 0 1rem;
  align-self: flex-start;
} */

.order-text {
  font-size: 2rem;
  height: 10%;
  width: 60%;
  text-align: center;
  /* text-align: start; */
  /* margin-right: 2rem; */
}
input {
  /* padding: 10px; */
  margin: 10px;
}
