.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    height: 20rem;
    width: 40%;
}

.year-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}