.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.penny-lore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
     height: 70vh;
     /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
     overflow-x: hidden;
     /* Enable scrolling on the page. */
     overflow-y: auto;
     /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
     perspective: 2px;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
     transform: translateZ(-1px) scale(1.5);
     /* Force the background image to fill the whole element. */
     background-size: 100%;
     /* Keep the image from overlapping sibling elements. */
     z-index: -1;

}

.static {
  background: whitesmoke;
  height: 500px;
}

.bg1::after {
  background-image: url("https://i.ibb.co/DLx6t0r/uses-for-pennies.jpg");
  height: 600px;
}
/* <a href="https://ibb.co/YbzK3H0"><img src="https://i.ibb.co/DLx6t0r/uses-for-pennies.jpg" alt="uses-for-pennies" border="0"></a> */
.bg2::after {
  background-image: url("https://i.ibb.co/DLx6t0r/uses-for-pennies.jpg");
  height: 600px;
  background-repeat: no-repeat;
}
