@import url(//db.onlinewebfonts.com/c/ba9019aa1b39b36ff007750ecf8296bf?family=LibertyW01-SC);
/* //background-image: url("https://i.ibb.co/DLx6t0r/uses-for-pennies.jpg"); */
.body {
  font-family: 'LibertyW01-SC'
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'LibertyW01-SC'
  /* font-family: 'Liberty Sans Regular'; */
}

.penny-lore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}


.static {
  background: whitesmoke;
  height: 500px;
}

