/* WHOLE PAGE CSS */

.home-div {
  height: 100%;
  width: 75%;
  border: 4px solid #FF6961;
  display: flex;
  flex-direction: column;
  background-color: #FFFDD1;
  border-radius: 8px;
  box-shadow:  10px -10px 20px gray
}

.flip {
  background-color: black;
  width: 100%
}

/* TOP SECTION */

.section1 {
  display: flex;
  border: 2px solid pink;
}

.lucky-div1 {
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
  border: 2px solid blue;
  height: 500px;
  width: 700px;
}

/* MIDDLE-TOP SECTION */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 3px solid orange;
}

.lucky-div2 {
  align-items: center;
  border: 2px solid blue;
  height: 500px;
  width: 700px;
  margin-right: 12rem;
}

/* MIDDLE-BOTTOM SECTION */
.section3 {
  border: 3px solid green;
}

.lucky-div3 {
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

/* DATE FORM SECTION */
