.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-div {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: #a67b5b; */
  border-radius: 8px;
  background-color: #E1E1E7;
  height: auto;
  width: 90%;
}

.form-bottom {
  max-width: 45%;
  height: 100%;
}

.dateform-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 22px; */
  margin-bottom: 4rem;
  margin-left: 4rem;
  /* border: 1px solid blue; */
  height: 100%;
}

.dateform-title {
  font-size: 5.5rem;
  position: absolute;
  /* bottom: 1rem; */
  /* border: 3px solid red; */
  margin-bottom: 12rem;
}

.form-data {
  position: relative;
  margin-top: 5rem;
  top: 4.5rem;
  /* border: 1px solid black; */
  width: 130%;
  font-size: 30px;
}

.penny-form {
  height: 100%;
  width: 30%;
}

.form-container {
  /* margin-top: 7rem; */
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  /* bottom: 2rem; */
  /* align-items: center; */
}

.date-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 120%;
  border: 1px solid black;
  margin-left: 6rem;
  /* align-items: center; */
}

.date-title1 {
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  justify-content: center;
}

input .date-label {
  margin-top: 0.5rem;
}

.date {
  font-size: 30px;
}

.woohoo {
  padding: 0;
  margin: 0;
}

.date-button {
}

/* Small devices (Mobile, Landscape, less than 768px) */
@media (max-width: 767.98px) {
  .date-div {
    width: 90%;
  }
}

@media (max-width: 550.98px) {
  .date-div {
    width: 50%;
  }
}
