@import url(//db.onlinewebfonts.com/c/ba9019aa1b39b36ff007750ecf8296bf?family=LibertyW01-SC);
.body {
  background-color: #fffdd1;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffdd1;
  font-family: "Lato", sans-serif;
}

.penny-lore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.static {
  background: whitesmoke;
  height: 500px;
}
