/* WHOLE PAGE CSS */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.home {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #e6ded5; */
  border-radius: 8px;
  box-shadow: 10px -10px 20px black;
  margin-top: 1rem;
  background-color: #e6ecee;
  font-family: 'Hubballi', cursive;
  /* position: relative;
  top: 1rem; */
}

.flip {
  /* background-color: #ffa689; */
  width: 100%;
  height: 20%;
}

.penny-cont {
  min-height: 50%;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0 1px 0 1px solid #ff6961;
  border: 1px solid #ff6961;
  position: absolute;
  bottom: 14rem
}

.penny-front {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lore {
  font-family: "Money Money Plus";
  font-size: 25px;
  font-weight: 100;
  position: relative;
  bottom: 1rem;
}

.p-tags {
  position: relative;
  top: 2rem;
  height: 75%;
  width: 25%;
  border: 1px solid black;
}

.decoration {
  width: 10%;
  /* height: 10%; */
  position: relative;
  font-color: black;
  /* top: 1rem; */
}

.decoration1 {
  width: 5%;
  /* height: 10%; */
  /* position: absolute;
  top: 2rem; */
}

/* TOP SECTION */

#img-section {
  height: 70%;
}

.front-title {
  font-size: 7rem;
  color: #c6d4d8;
  /* text-shadow: -1px -2px 0 #b87333, 2px -1px 0 #b87333, -2px 1px 0 #b87333, 2px 2px 0 #b87333; */
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #aac2ce, 0 0 15px #aac2ce, 0 0 20px #aac2ce, 0 0 30px #aac2ce, 0 0 35px #aac2ce;
  animation: neon 3s linear infinite;
}

@keyframes neon {
50% {
opacity: 1;
}
}

.front-para {
  margin-bottom: 5rem;
  position: relative;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: 	#87a9cc;
  text-decoration: double;
  /* border: 1px solid black; */
  width: 80%;
}

.react-icons {
  font-size: 4rem;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 85%;
  margin-left: 8%;
  background-color: #e6ecee;
  /* border: 2px solid pink; */
}

.quote-div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: aqua; */
  background-color: #f1e1b3;
}

.lucky-div {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 2px solid #aac2ce;
  height: 90%;
  width: 30%;
  text-align: center;
  font-size: 20px;

}

.lore-info {
  position: relative;
  /* bottom: 1rem; */
}

.lucky-div3 {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 2px solid #aac2ce;
  height: 90%;
  width: 30%;
  text-align: center;
  font-size: 19px;
}

/* MIDDLE-TOP SECTION */
#section2 {
  margin-top: 6rem;
  background-color: #e6ecee;
  height: 40%;
  /* border: 3px solid orange; */
}

.lucky-div2 {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid #ffa689;
  border-radius: 4px;
  box-shadow: 4px -3px 8px #ff6961;
  width: 30%;
  height: 90%;
  font-size: 15px;
  background-color: #ae886b;
  /* margin-bottom: 1.5rem; */

  /* padding: 4px; */
}

/* DATE FORM SECTION */

#dateform {
  /* border: 2px solid black; */
  /* height: auto; */
  margin-top: 5rem;
  width: 100%;
  background-color: #e6ecee;
}

@media (max-width: 1200px) {
  .shimmer {
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  .shimmer {
    font-size: 1rem;
  }

  .lucky-div {
    font-size: 20px;
  }

  .lucky-div3 {
    font-size: 20px;
  }

  .lore {
    font-size: 35px;
  }
}

@media (max-width: 650px) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    /* border: 2px solid pink; */
  }

  .lucky-div {
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
    text-align: center;
    margin: 1rem;
    font-size: 18px;
  }

  .lucky-div2 {
    width: 60%;
    font-size: 20px;
  }

  .lucky-div3 {
    width: 73%;
    
  }
}

@media (max-width: 500px) {
  .lucky-div {
    font-size: 20px;
  }

  .lucky-div2 {
    width: 60%;
    font-size: 20px;
  }

  .lucky-div3 {
    width: 73%;
    font-size: 18px;
  }
}
